@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

svg {
  display: block;
  object-fit: cover;
  fill: currentcolor;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

figure {
  margin: 0;
}

article {
  margin: 0;
}

.address {
  font-style: normal;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1260px;
  // overflow:hidden;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.centered {
  text-align: center;
}

.swiper-wrapper {
  box-sizing: inherit;
}

.size {
  
  &__list {
    display: flex;
    align-items: center;
  }
  
  &__item {
    display: inline-block;
    
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
  
  &__input {
    // appearance: none;
    position: absolute;
    
    &:checked~.size__field {
      border-color: #17696A;
      color: #17696A;
    }
  }
  
  &__field {
    position: relative;
    display: inline-block;
    min-width: 24px;
    height: 24px;
    padding-top: 2px;
    border: 1px solid #D7DADD;
    border-radius: 3px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #424551;
    cursor: pointer;
    transition: color 0.3s ease-in-out,border-color 0.3s ease-in-out;
    
   
  }
}

.color {
  
  &__list {
    display: flex;
    align-items: center;
  }
  
  &__item {
    display: inline-block;
    
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
  
  &__input {
    // appearance: none;
    position: absolute;
    
    &:checked~.color__field {
      border-color: #17696A;
    }
  }
  
  &__field {
    position: relative;
    display: block;
    min-width: 24px;
    height: 24px;
    // padding-top: 2px;
    border: 1px solid #D7DADD;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.2s ease-in-out;
    
  }
  
 
}

.sale-badge {
  display: inline-block;
  padding: 1px 8px;
  background-color: #FF4242;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  box-shadow: 0 0.5rem 1.125rem -0.275rem rgb(243 71 112 / 90%);
  color: #FFFFFF;
}



  // &__group {
  //   position: relative;
  //   width: 70px;
  //   height: 14px;
  //   background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.93074 1.28395C6.33601 0.349362 7.66139 0.349361 8.06665 1.28395L9.29259 4.11107L12.3602 4.40338C13.3743 4.50001 13.7838 5.76052 13.0202 6.43476L10.7103 8.47433L11.3802 11.4821C11.6017 12.4764 10.5295 13.2555 9.65225 12.7376L6.9987 11.171L4.34515 12.7376C3.46794 13.2555 2.39569 12.4764 2.61716 11.4821L3.2871 8.47433L0.977173 6.43476C0.213564 5.76052 0.623127 4.50001 1.63721 4.40338L4.7048 4.11108L5.93074 1.28395ZM8.22464 4.57418L6.9987 1.74705L5.77276 4.57418C5.60409 4.96315 5.23727 5.22965 4.81522 5.26987L1.74763 5.56218L4.05755 7.60175C4.37536 7.88236 4.51547 8.31357 4.4233 8.7274L3.75336 11.7352L6.40691 10.1686C6.772 9.95304 7.2254 9.95304 7.59049 10.1686L10.244 11.7352L9.5741 8.7274C9.48193 8.31357 9.62204 7.88236 9.93985 7.60175L12.2498 5.56218L9.18217 5.26987C8.76012 5.22965 8.39331 4.96315 8.22464 4.57418Z' fill='%23B3B7BC'/%3E%3C/svg%3E");
  //   background-size: 14px 14px;

  
 

.wishlist-badge {
  &__btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 8px;
    background-color: #ffffff;
    border-radius: 100%;
    cursor: pointer;
    
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 16px;
      height: 16px;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.99962 13.2715C4.93358 11.5252 3.22354 9.78955 2.39663 8.28361C1.55029 6.74228 1.62413 5.4441 2.09377 4.52273C3.05908 2.62892 5.80415 2.02333 7.47666 4.13865L7.99958 4.80001L8.52254 4.13868C10.1953 2.02327 12.9406 2.62896 13.9058 4.52273C14.3755 5.44408 14.4493 6.74226 13.6029 8.28359C12.7759 9.78954 11.0658 11.5252 7.99962 13.2715ZM7.99964 2.73726C5.64684 0.501518 2.17591 1.42555 0.905854 3.91723C0.208826 5.2847 0.199305 7.05212 1.2279 8.92536C2.24736 10.782 4.27997 12.7417 7.67712 14.6194L7.99961 14.7976L8.3221 14.6194C11.7194 12.7417 13.7521 10.782 14.7716 8.92537C15.8003 7.05214 15.7908 5.28472 15.0938 3.91723C13.8237 1.4255 10.3527 0.501552 7.99964 2.73726Z' fill='%23787A80'/%3E%3C/svg%3E%0A");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 16px 16px;
      transform: translate(-50%, -50%);
      transition: all 0.4s ease-in-out;
    }
    
   


  
 
.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #E5E8ED;
  transition: all 0.4s ease-in-out;
  
  &--small {
    width: 285px;
  }
  
  &--large {
    width: 390px;
  }
  
  &__top {
    position: relative;
  }
  
  &__image {
    background-color: aqua;
    height: 100%;
    &--small {
      img {
        height: 320px;
      }
    }
    
    // &--large {
    //   img {
    //     height: 440px;
    //   }
    }
  }
  
  &__info {
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    flex-grow: 1;
    padding: 16px;
  }
  
  &__title {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #424551;
  }

  
  &__price {
    margin-bottom: 0;
    transition: margin 0.4s ease-in-out;
  }
  
  &__selects {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #17696A;
    width: 100%;
    border-radius: 4px;
    font-weight: 700;
    font-size: 12px;
    line-height: 36px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    
    svg {
      display: block;
      object-fit: cover;
      margin-right: 8px;
      width: 16px;
      height: 16px;
      color: inherit;
      fill: currentColor;
    }
  }
  
  .sale-badge {
    position: absolute;
    left: 16px;
    top: 16px;
  }
  
  .rating {
    position: absolute;
    top: 16px;
    right: 16px;
  }
  
  .wishlist-badge {
    position: absolute;
    right: 16px;
    bottom: 16px;
  }
  
  .price__current {
    font-weight: 700;
    line-height: 130%;
    color: #1E212C;
    
    &--small {
      font-size: 20px;
    }
    
    &--large {
      font-size: 24px;
    }
  }
  
  .price__old {
    font-weight: 400;
    line-height: 150%;
    
    &--small {
      font-size: 16px;
    }
    
    &--large {
      font-size: 18px;
    }
  }

.slider-nav {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
  user-select: none;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 48px;
    height: 48px;
    color: #424551;
    transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;

    svg {
      width: 24px;
      height: 24px;
    }

    // &:hover {
    //   color: #fff;
    //   background-color: #17696A;
    // }

    &:active {
      color: #fff;
      background-color: #17696A;
    }
  }
}

.slider-nav__btn.swiper-button-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.product-cards {

  padding: 80px 0;
}  
   &__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 48px;
  }
  
  &__slider-nav {
    transform: translateX(12px);
  }
  
  &__title {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: #1E212C;
  }
  
  &__slider {
    overflow: hidden;
    margin-bottom: 80px;
  }
   &__link {
    display: inline-flex;
    align-items: center;
    padding: 0 40px;
    border: 1px solid #17696A;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #17696A;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
   }
  }}